<div class="col-md-8 col-md-offset-2">
    <div class="well bs-component">
        <form class="form-horizontal">
            <fieldset>
                <legend>Sing up</legend>
                <div class="form-group">
                    <label for="inputUserName" class="col-lg-2 control-label">Username<span class="required">*</span></label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputUserName" required="" placeholder="User name" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email<span class="required">*</span></label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputEmail" required="" placeholder="Email" type="email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Password<span class="required">*</span></label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputPassword" required="" placeholder="Password" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-lg-2 control-label description">Description</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="3" id="description"></textarea>
                        <span class="help-block">Describe yourself with 2 - 3 sentences.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>