/*logo*/
#SoftUniLogo{
    width: 200px;
    float: right;
    margin-top: -60px;
    margin-left: -200px;
}

/* Number of sheet*/
#Sheet {
    color: white;
    float: right;
    margin-bottom: -60px;
    font-size: 20px;
}