body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    main {
        ul {
            li {
                color: white;
                background-color: purple;
                border: 1px solid black;
                ul li {
                    background-color: yellow;
                    color: darkred;
                    border: 1px solid tomato;
                    list-style-type: none;
                }
            }
        }
    }
}
