$font-default: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$text-color-default: white;
$border-default: 1px solid black;
$background-color-default: purple;

@mixin default {
    background-color: $background-color-default;
    color: $text-color-default;
    border: $border-default;
}

@mixin hover-effect($width: 400px) {
    // Nested mixin (includes anoher mixin)
    @include default;
    width: $width;
    font-weight: 900;
    border-radius: 10px;
}

@mixin default-li-inside($width: 200px) {
    width: $width;
    background-color: yellow;
    color: darkred;
    border: 1px solid tomato;
    transition: 1s;
    list-style-type: none;
}

body {
    font-family: $font-default;
    main {
        ul {
            li {
                @include default;
                ul li {
                    @include default-li-inside(200px);
                    display:none;
                    &:hover{
                        @include hover-effect;
                    }
                }
                &:hover {
                    ul li {
                        display:block;
                    }
                }
            }
        }
    }
}
