$bgcolor: tomato;

div {
    margin: 20px;
    padding: 5px;
}

.default-border {
  border: 3px solid black;
  background: $bgcolor;
  border-radius: 8px;
}

.dotted-border {
  @extend .default-border;
  border-style: dotted;
}
